<section id="services" class="section-bg" style="min-height: 90vh">
  <div class="container">
    <header class="section-header">
      <h3>Thanks for downloading!</h3>
      <p>
        Your photo will download automatically in 10 - 15 seconds. 
        <!-- If not <a href="#">click here</a> to get your copy. -->
      </p>
      <div class="row">
        <div class="col-12 text-center">
          
          <a href="https://www.buymeacoffee.com/2x2photo" target="_blank"><img src="assets/img/default-green.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;">
          </a>
        

        </div>
      </div>
    </header>
  </div>
</section>
