<section id="services" class="section-bg" style="min-height: 90vh">
  <div class="container">
    <header class="section-header">
      <h3>Printable photo on 4x6" (10x15cm) photo paper</h3>
      <div class="row">
        <div class="col-12 text-center">
          <img id="image"
            style="border: 1px solid #888888"
            src="{{ croppedImg }}"
            class="img-fluid"
            width="300"
            height="300"
          />
          
          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p>Value: <span id="demo"></span></p>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>
