<section id="services" class="section-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2" style="background-color: #203058; min-height: 90vh">
          <div class="tab">
            <span style="color: white; padding-left: 5%"
              >Hi, Nutan</span
            >
            <a href="../../user/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            <a routerLink="../../user/payments"><i class="fa fa-fw fa-tag"></i> Payments</a>
            <a routerLink="../../user/profile"><i class="fa fa-fw fa-cog"></i> Profile</a>
            <button type="button">
              <i class="fa fa-fw fa-sign-out"></i> Sign out
            </button>
          </div>
        </div>
        <div class="col-9">
          <div class="tabcontent">
            <div class="alert alert-danger" role="alert">
                Payment history is not available.
              </div>
            <div class="card" style="width: 80vw">
              <div class="card-body">
                <h5 class="card-title">PAYMENT HISTORY</h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Billing Period</th>
                        <th>Transaction Id</th>
                        <th>Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>06/01/2021 to 06/30/2022</td>
                        <td>PA562806J914132T</td>
                        <td>$10.22</td>
                        <td>Paid</td>
                      </tr>
                      <tr>
                        <td>06/01/2021 to 06/30/202</td>
                        <td>PA562806J914132T</td>
                        <td>$10.22</td>
                        <td>Completed</td>
                      </tr>
                      <tr>
                        <td>06/01/2021 to 06/30/202</td>
                        <td>PA562806J914132T</td>
                        <td>$10.22</td>
                        <td>Completed</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  