<!--==========================
    Why Us Section
  ============================-->
<section id="why-us" class="wow fadeIn">
  <div class="container">
    <header class="section-header">
      <h3>Why choose us?</h3>
      <p>
        Laudem latine persequeris id sed, ex fabulas delectus quo. No vel
        partiendo abhorreant vituperatoribus.
      </p>
    </header>

    <div class="why-us-content">
      <div class="row">
        <div class="col-lg-4">
          <div class="features wow bounceInUp clearfix">
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/img/savemoney.png" height="80px" />
              </div>
              <div class="col-9">
                <h4>Save money</h4>
                <p>
                  Upload, edit and download the passport photos online for less
                  price.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features wow bounceInUp clearfix">
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/img/save-time.png" height="80px" />
              </div>
              <div class="col-9">
                <h4>Save time</h4>
                <p>
                  Just take a photo using digital camera, then upload and create
                  passport photo with 3 steps. It takes less than 5 minutes to
                  be ready for download.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features wow bounceInUp clearfix">
            <div class="row">
              <div class="col-3">
                <img
                  src="../../../../assets/img/compliance.png"
                  height="80px"
                />
              </div>
              <div class="col-9">
                <h4>Guranteed compliance</h4>
                <p>
                  99.9% acceptance by government organizations worldwide for
                  online orders
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features wow bounceInUp clearfix">
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/img/edit.png" height="80px" />
              </div>
              <div class="col-9">
                <h4>White background enhancement</h4>
                <p>
                  Our premium feature can help you to adjust the photo so that
                  you can get a white background passport photo. Most countries
                  prefer white background passport photos.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features wow bounceInUp clearfix">
            <div class="row">
              <div class="col-3">
                <img
                  src="../../../../assets/img/resolution.png"
                  height="80px"
                />
              </div>
              <div class="col-9">
                <h4>High-resolution photos</h4>
                <p>
                  Download high-resolution photos at 300 dpi which is perfect
                  for professional printing.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features wow bounceInUp clearfix">
            <div class="row">
              <div class="col-3">
                <img src="../../../../assets/img/privacy.png" height="80px" />
              </div>
              <div class="col-9">
                <h4>Secure & Private</h4>
                <p>
                  We make sure your privacy and safety is ensured with enhanced
                  safety tools and strict policies
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <a class="btn-blue" routerLink="../plan">Create photo</a>
      </div>
    </div>
  </div>
</section>

<!--==========================
    Services Section
  ============================-->
<section id="services" class="section-bg">
  <br /><br /><br />
  <div class="container">
    <header class="section-header">
      <h3>How it works?</h3>
      <p></p>
    </header>

    <div class="row">
      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #fceef3">
            <i class="ion-ios-camera-outline" style="color: #ff689b"></i>
          </div>
          <h4 class="title"><a href="">Take a picture</a></h4>
          <p class="description text-center">
            Use a white wall as background, take several photos with a camera or
            smartphone
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon" style="background: #fff0da">
            <i class="ion-ios-crop" style="color: #e98e06"></i>
          </div>
          <h4 class="title"><a href="">Crop the photo</a></h4>
          <p class="description text-center">
            Crop your photo to the correct ID or passport size photo. Over 50
            templates available!
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 wow bounceInUp"
        data-wow-delay="0.1s"
        data-wow-duration="1.4s"
      >
        <div class="box">
          <div class="icon" style="background: #e6fdfc">
            <i class="ion-ios-download-outline" style="color: #3fcdc7"></i>
          </div>
          <h4 class="title"><a href="">Download and print</a></h4>
          <p class="description text-center">
            Download your photo and print it at any photo store or online.
            Single digital photo is also available.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <a class="btn-blue" routerLink="../plan">Create photo</a>
      </div>
    </div>
  </div>
</section>
<!-- #services -->

<!--==========================
    Call To Action Section
  ============================-->
<!-- <section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-12 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#">Call To Action</a>
      </div>
    </div>
  </div>
</section> -->
<!-- #call-to-action -->

<!--==========================
    Features Section
  ============================-->
<!-- <section id="features">
  <div class="container">
    <div class="row feature-item">
      <div class="col-lg-6 wow fadeInUp">
        <img src="assets/img/features-1.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <h4>
          Voluptatem dignissimos provident quasi corporis voluptates sit
          assumenda.
        </h4>
        <p>
          Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati
          possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti
          quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at
          et a.
        </p>
        <p>
          Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit
          qui asperiores ea corporis deserunt veritatis quidem expedita
          perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum
          eum.
        </p>
      </div>
    </div>

    <div class="row feature-item mt-5 pt-5">
      <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
        <img src="assets/img/features-2.svg" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
        <h4>
          Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora
          facere reprehenderit.
        </h4>
        <p>
          Delectus alias ut incidunt delectus nam placeat in consequatur. Sed
          cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque
          fugit earum est quam officiis numquam. Ducimus corporis autem at
          blanditiis beatae incidunt sunt.
        </p>
        <p>
          Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas
          mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae
          debitis. Dolorem cupiditate est perferendis iusto.
        </p>
        <p>
          Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint
          quia modi. Numquam est aut fuga mollitia exercitationem nam
          accusantium provident quia.
        </p>
      </div>
    </div>
  </div>
</section> -->
<!-- #about -->

<!--==========================
    Pricing Section
  ============================-->
<!-- <section id="pricing" class="wow fadeInUp section-bg">
  <div class="container">
    <header class="section-header">
      <h3>Pricing</h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque
      </p>
    </header>

    <div class="row flex-items-xs-middle flex-items-xs-center">
      <div class="col-xs-12 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>
              <span class="currency">$</span>19<span class="period"
                >/month</span
              >
            </h3>
          </div>
          <div class="card-block">
            <h4 class="card-title">Basic Plan</h4>
            <ul class="list-group">
              <li class="list-group-item">Odio animi voluptates</li>
              <li class="list-group-item">Inventore quisquam et</li>
              <li class="list-group-item">Et perspiciatis suscipit</li>
              <li class="list-group-item">24/7 Support System</li>
            </ul>
            <a href="#" class="btn">Choose Plan</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>
              <span class="currency">$</span>29<span class="period"
                >/month</span
              >
            </h3>
          </div>
          <div class="card-block">
            <h4 class="card-title">Regular Plan</h4>
            <ul class="list-group">
              <li class="list-group-item">Odio animi voluptates</li>
              <li class="list-group-item">Inventore quisquam et</li>
              <li class="list-group-item">Et perspiciatis suscipit</li>
              <li class="list-group-item">24/7 Support System</li>
            </ul>
            <a href="#" class="btn">Choose Plan</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>
              <span class="currency">$</span>39<span class="period"
                >/month</span
              >
            </h3>
          </div>
          <div class="card-block">
            <h4 class="card-title">Premium Plan</h4>
            <ul class="list-group">
              <li class="list-group-item">Odio animi voluptates</li>
              <li class="list-group-item">Inventore quisquam et</li>
              <li class="list-group-item">Et perspiciatis suscipit</li>
              <li class="list-group-item">24/7 Support System</li>
            </ul>
            <a href="#" class="btn">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- #pricing -->

<!--==========================
    Frequently Asked Questions Section
  ============================-->
<!-- <section id="faq">
  <div class="container">
    <header class="section-header">
      <h3>Frequently Asked Questions</h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque
      </p>
    </header>

    <ul id="faq-list" class="wow fadeInUp">
      <li>
        <a data-toggle="collapse" class="collapsed" href="#faq1"
          >Non consectetur a erat nam at lectus urna duis?
          <i class="ion-android-remove"></i
        ></a>
        <div id="faq1" class="collapse" data-parent="#faq-list">
          <p>
            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
            volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna
            fringilla urna porttitor rhoncus dolor purus non.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq2" class="collapsed"
          >Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
          <i class="ion-android-remove"></i
        ></a>
        <div id="faq2" class="collapse" data-parent="#faq-list">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant
            morbi. Id interdum velit laoreet id donec ultrices. Fringilla
            phasellus faucibus scelerisque eleifend donec pretium. Est
            pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
            cursus turpis massa tincidunt dui.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq3" class="collapsed"
          >Dolor sit amet consectetur adipiscing elit pellentesque habitant
          morbi? <i class="ion-android-remove"></i
        ></a>
        <div id="faq3" class="collapse" data-parent="#faq-list">
          <p>
            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis
            orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra
            diam sit amet nisl suscipit. Rutrum tellus pellentesque eu
            tincidunt. Lectus urna duis convallis convallis tellus. Urna
            molestie at elementum eu facilisis sed odio morbi quis
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq4" class="collapsed"
          >Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
          <i class="ion-android-remove"></i
        ></a>
        <div id="faq4" class="collapse" data-parent="#faq-list">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant
            morbi. Id interdum velit laoreet id donec ultrices. Fringilla
            phasellus faucibus scelerisque eleifend donec pretium. Est
            pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
            cursus turpis massa tincidunt dui.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq5" class="collapsed"
          >Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
          <i class="ion-android-remove"></i
        ></a>
        <div id="faq5" class="collapse" data-parent="#faq-list">
          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo.
            Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra
            maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
            Purus gravida quis blandit turpis cursus in
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq6" class="collapsed"
          >Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis
          nunc eget lorem dolor? <i class="ion-android-remove"></i
        ></a>
        <div id="faq6" class="collapse" data-parent="#faq-list">
          <p>
            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae
            ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non
            nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
            tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat
            commodo sed egestas egestas fringilla phasellus faucibus. Nibh
            tellus molestie nunc non blandit massa enim nec.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section> -->
<!-- #faq -->
