<section id="services" class="section-bg" style="min-height: 90vh">
  <div class="container">
    <header class="section-header text-center">
      <h3>Thank you for your purchase!</h3>
      <div class="row">
        <div class="col-12 text-center">
          <span>Your order no is <strong>{{orderID}}</strong></span><br />
          <i class="fa fa-check mt-5 mb-5" aria-hidden="true"></i>

          <p>Thanks for being awesome, we hope you enjoy your purchase</p>
          <p>Your order will be delivered in {{ETA}} business day.</p>
          <p>
            <small>If you have any questions or concerns regarding this, do not
              hesitate to contact us at <a href="mailto:info@2x2photo.com">info@2x2photo.com</a></small>
          </p>
        </div>
      </div>
    </header>
  </div>
</section>
