<section id="services" class="section-bg" style="min-height: 90vh">
    <div class="container text-center">
      <header class="section-header mb-5">
        <h3>Account activated</h3>        
      </header>
        <p class="mt-5">
          Your email has beed verified. Your account is now active. Please use the link below to login to your account.
        </p>
        <div class="row">
          <div class="col-12 text-center">
            
            <a routerLink="../../../register" class="btn btn-blue">LOGIN TO YOUR ACCOUNT
            </a>
          
  
          </div>
        </div>
    </div>
  </section>
  