<section id="services" class="section-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2" style="background-color: #203058; min-height: 90vh">
          <div class="tab">
            <span style="color: white; padding-left: 5%"
              >Hi, Nutan</span
            >
            <a href="../../user/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            <a routerLink="../../user/payments"><i class="fa fa-fw fa-tag"></i> Payments</a>
            <a routerLink="../../user/profile"><i class="fa fa-fw fa-cog"></i> Profile</a>
            <button type="button">
              <i class="fa fa-fw fa-sign-out"></i> Sign out
            </button>
          </div>
        </div>
        <div class="col-9">
          <div class="tabcontent">
            <div class="card" style="width: 80vw">
              <div class="card-body">
                <h5 class="card-title">USER DETAILS</h5>
                <p class="card-text"></p>
                <p class="pay-status">
                    <span class="text-success"
                      ><strong>Status:</strong> Active</span
                    ><br />
                    <strong>First Name:</strong> Nutan<br />
                    <strong>Last Name</strong> Patel<br />
                    <strong>Email:</strong> nutanusadadiya@gmail.com<br />
                    <strong>Phone:</strong> 201-736-5804<br />
                    <button class="btn btn-blue-outline mt-5">Cancel Subscription</button>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  